*{
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 300;
}

.alert{
    text-align: center;
}

.success{
    color: #00c400;
}
.danger{
    color: #e60000;
}
.warning{
    color: #ff7700;
}

.content__chat{
    margin: 0 auto;
    max-width: 75%;

}

.details-all-users{
    margin-bottom: 1.4rem;
}
.details-all-users summary{
    cursor: pointer;
}
#getAllUsers{
    max-height: 80px;
    overflow-y: auto;
}
#getAllUsers li {
    display: inline-block;
    margin:0.15rem;
    cursor: pointer;
    border: 1px solid #b1b1b1;
    border-radius: 3px;
    padding: 0.1rem;
}
#getAllUsers li:hover{
    /* text-decoration: 1px underline orange; */
    border: 1px solid #ff770f;

}

/* chat */
.container__chat{
    background-color: #f5f5f5;
    max-height: 380px;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
    margin-bottom: 2rem;
    overflow-y: auto;
}

.msg-date{
    font-size: 9px;
    font-family: Courier,sans-serif;
}
.msg-username{
    font-weight: bold;
}

/* form */
#messageContent, #btnSendMessage{
    width: 100%;
}
#messageContent{
    resize: none;
}
#btnSendMessage{
    cursor: pointer;
}

@media screen and (max-width:700px) {
    .content__chat{
        max-width: initial;
    }
}
