* {
    margin: 0;
    box-sizing: border-box;
}

.nav-chat ul {
    padding: 0.2rem;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    /* align-items: center; */
    list-style: none;
}

.nav-chat ul li a {
    text-decoration: none;
    color: #0c91ff;
}

.nav-chat ul li a:hover {
    text-decoration: underline;
}

.content__chat {
    margin: 0 auto;
    max-width: 50rem;

}

.details-all-users {
    margin-bottom: 1.4rem;
}

.details-all-users summary {
    cursor: pointer;
    margin-bottom: 1.4rem;
}

#getAllUsers {
    max-height: 80px;
    overflow-y: auto;
}

#getAllUsers li {
    display: inline-block;
    margin: 0.15rem;
    cursor: pointer;
    border: 1px solid #b1b1b1;
    border-radius: 3px;
    padding: 0.1rem;
}

#getAllUsers li:hover {
    /* text-decoration: 1px underline orange; */
    border: 1px solid #ff770f;

}

/* chat */
.container__chat {
    background-color: #f5f5f5;
    max-height: 380px;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
    margin-bottom: 2rem;
    overflow-y: auto;
}

.box-chat {
    max-width: 320px;
    font-family: 'Raleway', sans-serif;
    color: white;
}

.box-chat p {
    margin: 0.8rem 0.4rem 0.4rem 0.4rem;
}

.current-user,
.other-user {
    position: relative;
    clear: both;
    margin: 0.4rem 0.3rem;
    padding: 0.3rem;
    box-shadow: 6px 5px 7px 0px #9e9e9e;
}

.current-user {
    border-radius: 16px 16px 0 16px;

    background-color: #94C2ED;
    float: right;
}

.other-user {
    border-radius: 16px 16px 16px 0;

    background-color: #86BB71;
    float: left;

}

.msg-date {
    font-size: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 2px;
    right: 15px;
}

.msg-username {
    font-weight: bold;
}

/* form */
#messageContent,
#btnSendMessage {
    width: 100%;
}

#messageContent {
    resize: none;
}

#btnSendMessage {
    cursor: pointer;
}

.anti-spam {
    border-color: #ff1212eb !important;
    cursor: no-drop !important;
    color: red !important;
}

#uiTimer {
    width: 50px;
    display: block;
    text-align: center;
    margin: 2px auto;
    font-weight: bold;
    color: green;
}

@media screen and (max-width:700px) {
    .content__chat {
        max-width: initial;
    }
}